@media (max-width:375px) {
    header {
        max-width: 325px;
    }
    .mx_wd {
        max-width: 325px;
        margin-left: auto;
        margin-right: auto;
    }
    nav {
        padding-top: 10px;
        font-size: 7px;  
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav img {
        width: 70px;
        height: 50px;
        margin-right: 20px;
        margin-left: 10px;
    }
    .headform {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        width: 300px;
        text-align: center;
        margin-left: 10px;
    }
    .headform img {
        width: 275px;
        height: 185px;
        margin: 0px;
    }
    .headform1 h1 {
    font-size: 28px;
    margin-bottom: 30px;
    }
    .headform1 p {
    font-size: 10px;
    margin-bottom: 30px;
    }
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 275px;
    }
    .about h1 {
        font-size: 22px;
    }
    .about p {
    font-size: 10px;

    }
    .section2 {
        width: 325px;
    }
    .section2 img {
        width: 50px;
    }
    .section2_1 {
        display: flex;
        
    }
    .section3_1 h1 {
        font-size: 25px;
    }
    .section3 {
        display: flex;
        flex-direction: column;
        width: 325px;
    }
    .section3 img {
        width: 275px;
        margin-left: 0px;
        height: 225px;
    }
    .section3_1 {
        margin: 0px 0px;
    }
    .section3_1 h1 {
        margin-bottom: 20px;
    }
    .section3_1 p {
        font-size: 10px;
    }
    progress {
        height: 5px;
        width: 274px;
        margin-bottom: 30px;
    }
    .section4 {
        text-align: center;
        padding: 60px 0px;
        background-color: #EEEFF1;
        width: 325px;
    }
    .section4 h1 {
    font-size: 28px;
    margin-bottom: 30px;
    }
    
    .section4 p {
    font-size: 12px;
    margin-bottom: 30px;
    }
    .collage1 {
        display: flex;
    }
    .collage2 {
        display: flex;
    }
    .collage img {
        width: 81px;
    }
    .collage3 {
        display: flex;
        justify-content: center;
    }
    .collage3 img {
        width: 40px;
    }
    .forms {
        background: #EEEFF1;
        padding: 100px 0px;
        width: 325px;
    }
    .forms h1 {
        font-size: 22px;
    }
    .forms p {
        font-size: 10px;
        margin-left: 0px;
        width: 325px;
    }
    .forma {
        text-align: center;
    }
    footer {
        background: #34547A;
        padding: 10px 0px;
        width: 325px;
        
    }
    footer h1 {
        font-size: 14px;

    }
    footer p {
        font-size: 9px;
    }
    
    .pad {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pad div {
        width: 325px;
    }
}

@media (max-width:750px) {
    html {
        font-family: 'Roboto', sans-serif;
    }
    header {
        max-width: 400px;
    }
    .mx_wd {
        max-width: 740px;
        margin-left: 50px;
        margin-right: 5px;
    }
    nav {
        padding-top: 10px;
        font-size: 7px;  
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav img {
        width: 70px;
        height: 50px;
        margin-right: 20px;
        margin-left: 10px;
    }
    .headform {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        width: 300px;
        text-align: center;
        margin-left: 10px;
    }
    .headform img {
        width: 275px;
        height: 185px;
        margin: 0px;
    }
    .headform1 h1 {
    font-size: 28px;
    margin-bottom: 30px;
    }
    .headform1 p {
    font-size: 10px;
    margin-bottom: 30px;
    }
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 275px;
    }
    .about h1 {
        font-size: 22px;
        margin-left: 0px;
    }
    .about p {
    font-size: 10px;

    }
    .section2 {
        width: 325px;
    }
    .section2 img {
        width: 50px;
    }
    .section2_1 {
        display: flex;
        
    }
    .section3_1 h1 {
        font-size: 25px;
    }
    .section3 {
        display: flex;
        flex-direction: column;
        width: 325px;
    }
    .section3 img {
        width: 275px;
        margin-left: 0px;
        height: 225px;
    }
    .section3_1 {
        margin: 0px 0px;
    }
    .section3_1 h1 {
        margin-bottom: 20px;
    }
    .section3_1 p {
        font-size: 10px;
    }
    progress {
        height: 5px;
        width: 274px;
        margin-bottom: 30px;
    }
    .section4 {
        text-align: center;
        padding: 60px 0px;
        background-color: #EEEFF1;
        width: 325px;
    }
    .section4 h1 {
    font-size: 28px;
    margin-bottom: 30px;
    }
    
    .section4 p {
    font-size: 12px;
    margin-bottom: 30px;
    }
    .collage1 {
        display: flex;
    }
    .collage2 {
        display: flex;
    }
    .collage img {
        width: 81px;
    }
    .collage3 {
        display: flex;
        justify-content: center;
    }
    .collage3 img {
        width: 40px;
    }
    .forms {
        background: #EEEFF1;
        padding: 100px 0px;
        width: 325px;
    }
    .forms h1 {
        font-size: 22px;
    }
    .forms p {
        font-size: 10px;
        margin-left: 0px;
        width: 325px;
    }
    .forma {
        text-align: center;
    }
    footer {
        background: #34547A;
        padding: 10px 0px;
        width: 325px;
        
    }
    footer h1 {
        font-size: 14px;

    }
    footer p {
        font-size: 9px;
    }
    
    .pad {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pad div {
        width: 325px;
    }
}